<script type="text/javascript">

  function manual_reassign() {
    $('#manual-reassign-btn').click(function(){
      var ring_assassin_ids = [];
      $('.sortable-item').each(function(){
        ring_assassin_ids.push($(this).attr('id'))
      });
      console.log(ring_assassin_ids);
      $.ajax({
        url:'manual_reassign',
        type: 'POST',
        data: {ring_assassin_ids: ring_assassin_ids},
        success: function(data) {
          window.location.reload();
        }
      });
    });
  }

  $(document).on('ready page:load', function () {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    $('#target').hide(); // Initially target will be hidden
    $('#target-hide').hide();

    $('#target-reveal').click(function() {
      $('#target-reveal').hide();
      $('#target-hide').show();
      $('#asterisks').hide();
      $('#target').show(); // Target shows on button click
    });

    $('#target-hide').click(function() {
      $('#target-hide').hide();
      $('#target-reveal').show();
      $('#asterisks').show();
      $('#target').hide(); // target hides on button click
    });

    var sortable_elem = document.getElementById('sortable-assignments');
    Sortable.create(sortable_elem);
    manual_reassign()
  });
</script>

<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Assignments</h1>
      <div><%= link_to 'Toggle Menu', '#menu-toggle', class: 'btn btn-primary', id: 'menu-toggle'%></div>
      <% if @current_player %>

        <% if @current_player.is_gamemaker %>
          <% if @game.is_inactive or @game.is_pending %>
            <%= button_to 'Generate Assignments', generate_assignments_path(game_id: @game.id), class: 'btn btn-primary'%>
          <% end %>
          <div class="row">
            <div class="col-md-4">
              <h3>Active Assignments: <%= @assignments_active_ordered_assassins.length %></h3>
              <table class="table table-sm">
                <thead>
                <tr>
                  <th>[ __ ]</th>
                  <th>Assassin</th>
                </tr>
                </thead>
                <tbody>
                <% @assignments_active_ordered_assassins.each do |assassin| %>
                  <tr>
                    <td><%= '[' + assassin.committee + '] ' %></td>
                    <td><%= assassin.user.email %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <h3>Pending Assignments: <%= @assignments_inactive_ordered_assassins.length %></h3>
              <% if @assignments_inactive_ordered_assassins.length > 0 %>
                <%= button_to 'Confirm and activate assignments', activate_assignments_path(game_id: @game.id), class: 'btn btn-primary' %>
              <% end %>
              <table class="table table-sm">
                <thead>
                <tr>
                  <th>[ __ ]</th>
                  <th>Assassin</th>
                </tr>
                </thead>
                <tbody>
                <% @assignments_inactive_ordered_assassins.each do |assassin| %>
                  <tr>
                    <td><%= '[' + assassin.committee + '] ' %></td>
                    <td><%= assassin.user.email %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <h3>Manual Assignments: <%= @assignments_manual_ordered_assassins.length %></h3>
              <button id='manual-reassign-btn' class='btn btn-primary'>Save assignments to pending</button>
              <ol id="sortable-assignments" class="list-group", style="display: inline-block">
                <% @assignments_manual_ordered_assassins.each do |assassin| %>
                  <li id="<%= assassin.id %>" class="list-group-item sortable-item">
                    <%= '[' + assassin.committee + '] ' + assassin.user.email %>
                  </li>
                <% end %>
              </ol>
            </div>
          </div>
          <div>
            <h3>Old Assignments: <%= @assignments_old_info.length %></h3>
            <table class="table table-sm">
              <thead>
              <tr>
                <th>Assassin</th>
                <th>Target</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <% @assignments_old_info.each do |assignment_info| %>
                <tr>
                  <td><%= assignment_info[0] %></td>
                  <td><%= assignment_info[1] %></td>
                  <td><%= assignment_info[2] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        <% elsif @current_player.is_assassin %>

          <% if @assignment.nil? %>
            <p>None available or not applicable</p>
          <% elsif not @game.is_completed %>
            <% target_user = Player.find(@assignment.target_id).user %>
            <button type="button" id="target-reveal" class="btn btn-secondary">Reveal Target</button>
            <button type="button" id="target-hide" class="btn btn-secondary">Hide Target</button>
            <span id="asterisks">************</span>
            <span id="target"><%= target_user.email %></span>
            <br><br>
            <h3>Perform Kill</h3>
            <%= form_tag kill_path(game_id: @game.id, player_id: @current_player.id) do %>
              <%= label_tag(:victim_email, 'Victim Email') %>
              <%= text_field_tag(:victim_email, nil, required: true) %>

              <%= label_tag(:killcode, 'Kill Code') %>
              <%= text_field_tag(:killcode, nil, required: true) %>

              <%= submit_tag('Forward Kill', class: 'btn btn-secondary') %>
              <% if @assassins_alive.length > 2 %>
                <%= submit_tag('Reverse Kill', class: 'btn btn-secondary') %>
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>
