<div class="jumbotron">
  <div class="container">
    <h1>Welcome to PBL Assassins!</h1>
    <p>May the odds be ever in your favor.</p>
    <% if not current_user %>
      <%= link_to 'Login with Google', '/auth/google_oauth2', class: 'btn btn-primary' %>
      <!-- For testing purposes only, remove or comment out later -->
      <div>
        <%= form_tag mock_user_login_path do %>
          <%= label_tag(:name, 'Name') %>
          <%= text_field_tag(:name, nil, required: true) %>

          <%= submit_tag('Mock User Login', class: 'btn btn-primary') %>
        <% end %>
      </div>
    <% end %>
    <h2>Games</h2>
    <% @games.each do |g| %>
      <div>
        <%= link_to g.name, game_index_path(name: g.name), class: 'list-group-item' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>