<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>History</h1>
      <% if @current_player %>
        <% if @current_player.is_gamemaker %>
          <h3>All Assassination History: <%= @assassination_history_info_all.length %></h3>
          <% if @assassination_history_info_all.length > 0 %>
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Time of Assassination</th>
                <th>Killer</th>
                <th>Victim</th>
                <th>Direction</th>
              </tr>
              </thead>
              <tbody>
              <% for i in 0..@assassination_history_info_all.length - 1 %>
                <tr>
                  <th scope="row"><%= @assassination_history_info_all.length - i%></th>
                  <td><%= @assassination_history_info_all[i][0] %></td>
                  <td><%= @assassination_history_info_all[i][1] %></td>
                  <td><%= @assassination_history_info_all[i][2] %></td>
                  <td><%= @assassination_history_info_all[i][3] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <p>None available</p>
          <% end %>
        <% elsif @current_player.is_assassin %>
          <% if @current_player.is_assassin_dead %>
            <h3>Your Death</h3>
            <table class="table table-sm">
              <thead>
              <tr>
                <th>Time of Death</th>
                <th>Assassinated by</th>
                <th>Direction</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @death_info[0] %></td>
                <td><%= @death_info[1] %></td>
                <td><%= @death_info[2] %></td>
              </tr>
              </tbody>
            </table>
          <% end %>
          <h3>Your Assassination History: <%= @assassination_history_info_self.length %></h3>
          <% if @assassination_history_info_self.length > 0 %>
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Time of Assassination</th>
                <th>Victim</th>
                <th>Direction</th>
              </tr>
              </thead>
              <tbody>
              <% for i in 0..@assassination_history_info_self.length - 1 %>
                <tr>
                  <th scope="row"><%= @assassination_history_info_self.length - i %></th>
                  <td><%= @assassination_history_info_self[i][0] %></td>
                  <td><%= @assassination_history_info_self[i][1] %></td>
                  <td><%= @assassination_history_info_self[i][2] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <p>None available</p>
          <% end %>
        <% end %>
      <% end %>
      <h3>All Assassin Deaths: <%= @assassination_history_info_public.length %></h3>
      <% if @assassination_history_info_public.length > 0 %>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Time of Death</th>
            <th>Victim</th>
          </tr>
          </thead>
          <tbody>
          <% for i in 0..@assassination_history_info_all.length - 1 %>
            <tr>
              <th scope="row"><%= @assassination_history_info_all.length - i %></th>
              <td><%= @assassination_history_info_public[i][0] %></td>
              <td><%= @assassination_history_info_public[i][1] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <p>None available</p>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>