<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Game: <%= @game.name %></h1>
      <h3>Game status: <%= @game.status %></h3>
      <div class="col-md-4 padding-right-only">
        <h3>All Assassins: <%= @assassins.length %></h3>
        <table class="table table-sm">
          <tbody>
          <% @assassins.each do |assassin| %>
            <tr>
              <td><%= '[' + assassin.committee + ']' %></td>
              <td><%= assassin.user.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 padding-right-only">
        <h3>All Gamemakers: <%= @gamemakers.length %></h3>
        <table class="table table-sm">
          <tbody>
          <% @gamemakers.each do |gamemaker| %>
            <tr>
              <td><%= '[' + gamemaker.committee + ']' %></td>
              <td><%= gamemaker.user.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 padding-right-only">
        <h3>All Spectators: <%= @spectators.length %></h3>
        <table class="table table-sm">
          <tbody>
          <% @spectators.each do |spectator| %>
            <tr>
              <td><%= '[' + spectator.committee + ']' %></td>
              <td><%= spectator.user.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>