<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Game: <%= @game.name %></h1>
      <div><%= link_to 'Toggle Menu', '#menu-toggle', class: 'btn btn-primary', id: 'menu-toggle'%></div>
      <h3>Game status: <%= @game.status %></h3>
      <div class="col-sm-4">
        <h3>All Assassins</h3>
        <ul>
          <% @assassins.each do |player| %>
            <li><%= '[' + player.committee + '] ' + player.user.email %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>All Gamemakers</h3>
        <ul>
          <% @gamemakers.each do |gamemaker| %>
            <li><%= '[' + gamemaker.committee + '] ' + gamemaker.user.email %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>