<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1><%= @game.name %></h1>
      <h5>Status: <%= @game.status.titleize %></h5>
      <h5>Public Enemy Mode: <%= @game.public_enemy_mode ? 'On' : 'Off' %></h5>
      <div>
        <% if @current_player and @current_player.is_gamemaker %>
          <%= form_tag create_note_path do %>
            <%= text_area_tag(:content, nil, required: true, class: 'form-control') %>
            <%= submit_tag('Post', class: 'btn btn-primary') %>
          <% end %>
        <% end %>
      </div>
      <table class="table" style="display: inline-block">
        <tbody>
        <% @notes.each do |note| %>
          <tr>
            <% if @current_player and @current_player.is_gamemaker %>
              <td>
                <%=note.content%><br>Created at: <%=note.created_at%>
              </td>
              <td>
                <%= link_to 'Delete', delete_note_path(note_id: note.id), method: :post, class: 'btn btn-secondary',  data: { confirm: 'Are you sure to delete this note?' } %>
              </td>
            <% else %>
              <td>
                <%=note.content%><br>Created at: <%=note.created_at%>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>