<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Game: <%= @game.name %></h1>
      <h3>Game status: <%= @game.status %></h3>
      <div class="col-md-4">
        <h3>All Assassins</h3>
        <table class="table table-sm">
          <tbody>
          <% @assassins.each do |assassin| %>
            <tr>
              <td><%= '[' + assassin.committee + ']' %></td>
              <td><%= assassin.user.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h3>All Gamemakers</h3>
        <table class="table table-sm">
          <tbody>
          <% @gamemakers.each do |gamemaker| %>
            <tr>
              <td><%= '[' + gamemaker.committee + ']' %></td>
              <td><%= gamemaker.user.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>