<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Leaderboard</h1>
      <div><%= link_to 'Toggle Menu', '#menu-toggle', class: 'btn btn-primary', id: 'menu-toggle'%></div>
      <div class="col-sm-3">
      <h3>Committees: <%= @committees_ranked.length %></h3>
        <ol>
          <% @committees_ranked.each do |committee_and_points| %>
            <li><%= '[' + committee_and_points[0] + '] with ' + committee_and_points[1].to_s + ' points'%></li>
          <% end %>
        </ol>
      </div>
      <div class="col-sm-4">
        <h3>All Assassins: <%= @assassins_all_ranked.length %></h3>
        <ol>
          <% @assassins_all_ranked.each do |assassin| %>
            <li><%= '[' + assassin.committee + '] ' + assassin.user.email + ', with ' + assassin.points.to_s + ' points'%></li>
          <% end %>
        </ol>
      </div>
      <div class="col-sm-4">
        <h3>Live Assassins: <%= @assassins_live_ranked.length %></h3>
        <ol>
          <% @assassins_live_ranked.each do |assassin| %>
            <li><%= '[' + assassin.committee + '] ' + assassin.user.email + ', with ' + assassin.points.to_s + ' points'%></li>
          <% end %>
        </ol>
        <h3>Dead Assassins: <%= @assassins_dead_ranked.length %></h3>
        <ol>
          <% @assassins_dead_ranked.each do |assassin| %>
            <li><%= '[' + assassin.committee + '] ' + assassin.user.email + ', with ' + assassin.points.to_s + ' points'%></li>
          <% end %>
        </ol>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>