<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Leaderboard</h1>
      <div class="col-md-4 padding-right-only">
        <h3>Committees: <%= @committees_ranked.length %></h3>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Committee</th>
            <th>Points</th>
          </tr>
          </thead>
          <tbody>
            <% for i in 0..@committees_ranked.length - 1 %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= @committees_ranked[i][0] %></td>
                <td><%= @committees_ranked[i][1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 padding-right-only">
        <% assassins_live_count = @assassins_all_ranked.count{ |a| a.alive? } %>
        <h3>Assassins: <%= assassins_live_count%> Alive | <%= @assassins_all_ranked.length - assassins_live_count %> Dead</h3>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>[ __ ]</th>
            <th>Assassin</th>
            <th>Points</th>
          </tr>
          </thead>
          <tbody>
          <% for i in 0..@assassins_all_ranked.length - 1 %>
            <% if @assassins_all_ranked[i].alive? %>
              <tr>
            <% else %>
              <tr style="color: silver;">
            <% end %>
              <th scope="row"><%= i + 1 %></th>
              <td><%= '[' + @assassins_all_ranked[i].committee + ']' %></td>
              <td><%= @assassins_all_ranked[i].user.name %></td>
              <td><%= @assassins_all_ranked[i].points %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>