<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Manage</h1>
      <%= form_tag reassign_roles_path do %>
        <%= submit_tag('Update roles', data: { confirm: 'Are you sure to apply the role changes?' }, class: 'btn btn-primary') %>
        <table class="table table-sm">
          <tbody>
          <% @players.each do |player| %>
              <tr>
                <td><%= '[' + player.committee + ']' %></td>
                <td><%= player.user.name %></td>
                <td>
                  <% role_id = 1 %>
                  <% case player.role %>
                  <% when Player::ROLE_GAMEMAKER %>
                    <% role_id = 1 %>
                  <% when Player::ROLE_ASSASSIN_LIVE %>
                    <% role_id = 2 %>
                  <% when Player::ROLE_ASSASSIN_DEAD %>
                    <% role_id = 3 %>
                  <% when Player::ROLE_SPECTATOR %>
                    <% role_id = 4 %>
                  <% else %>
                  <% end %>
                  <%= select_tag('players[' + player.id.to_s + ']', options_for_select([[Player::ROLE_GAMEMAKER, 1], [Player::ROLE_ASSASSIN_LIVE, 2], [Player::ROLE_ASSASSIN_DEAD, 3], [Player::ROLE_SPECTATOR, 4]], role_id), class: 'form-control') %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>


      <% end %>


    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>