<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Manage</h1>
      <%= form_tag reassign_roles_path do %>
        <%= submit_tag('Update roles', data: { confirm: 'Are you sure to apply the role changes?' }, class: 'btn btn-primary') %>
        <table class="table table-sm">
          <tbody>
          <% @players.each do |player| %>
              <tr>
                <td><%= '[' + player.committee + ']' %></td>
                <td><%= player.user.name %></td>
                <td>
                  <%= select_tag('players[' + player.id.to_s + ']', options_for_select(Player::ROLES, player.role), class: 'form-control') %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>


      <% end %>


    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>