<script type="text/javascript">
  $(document).on('ready page:load', function () {
    $('#kill-code').hide(); // Initially kill code will be hidden.
    $('#kill-code-hide').hide();

    $('#kill-code-reveal').click(function() {
      $('#kill-code-reveal').hide();
      $('#kill-code-hide').show();
      $('#asterisks').hide();
      $('#kill-code').show(); // Kill code shows on button click
    });

    $('#kill-code-hide').click(function() {
      $('#kill-code-hide').hide();
      $('#kill-code-reveal').show();
      $('#asterisks').show();
      $('#kill-code').hide(); // Kill code hides on button click
    });
  });
</script>

<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Your Profile</h1>
      <% if current_user and @current_player %>
        <table class="table", style="display: inline-block">
          <tbody>
          <tr>
            <th scope="row">Email</th>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th scope="row">Committee</th>
            <td><%= @current_player.committee %></td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td><%= @current_player.role %></td>
          </tr>
          <% if @current_player.is_assassin %>
            <tr>
              <th scope="row">Points</th>
              <td><%= @current_player.points %></td>
            </tr>
          <% end %>
          <tr>
            <th scope="row">Status</th>
            <% if @current_player.alive? %>
              <td>alive</td>
            <% else %>
              <td>dead</td>
            <% end %>
          </tr>
          <tr>
            <th scope="row">Killcode</th>
            <% if @current_player.is_assassin and @current_player.alive and not @current_player.killcode.nil?%>
              <td id="asterisks">*******</td>
              <td id="kill-code"><%= @current_player.killcode%></td>
            <% end %>
          </tr>
          </tbody>
        </table>
        <% if @current_player.is_assassin and @current_player.alive and not @current_player.killcode.nil?%>
          <button type="button" id="kill-code-reveal" class="btn btn-secondary">Reveal Kill Code</button>
          <button type="button" id="kill-code-hide" class="btn btn-secondary">Hide Kill Code</button>
        <% end %>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>
