<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Your Profile</h1>
      <%= link_to 'Toggle Menu', '#menu-toggle', class: 'btn btn-primary', id: 'menu-toggle'%>
      <% if current_user and @current_player %>
        <h5>Your email: <%= current_user.email %></h5>
        <h5>Your name: <%= current_user.name %></h5>
        <h5>Your committee: <%= @current_player.committee %></h5>
        <h5>Your role: <%= @current_player.role %></h5>
        <% if @current_player.alive? %>
          <h5>Your status: alive</h5>
        <% else %>
          <h5>Your status: dead</h5>
        <% end %>
        <% if @current_player.is_assassin and @current_player.alive and not @current_player.killcode.nil?%>
          <button type="button" id="kill-code-reveal" class="btn btn-secondary">Reveal Kill Code</button>
          <button type="button" id="kill-code-hide" class="btn btn-secondary">Hide Kill Code</button>
          <div id="kill-code">Kill code: <%= @current_player.killcode%></div>
        <% end %>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#kill-code').hide(); // Initially kill code will be hidden.
    $('#kill-code-hide').hide();

    $('#kill-code-reveal').click(function() {
      $('#kill-code-reveal').hide();
      $('#kill-code-hide').show();
      $('#kill-code').show(); // Kill code shows on button click
    });

    $('#kill-code-hide').click(function() {
      $('#kill-code-hide').hide();
      $('#kill-code-reveal').show();
      $('#kill-code').hide(); // Kill code hides on button click
    });
  });
</script>